/* ===== Reset start */
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
body{
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;

}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input,
textarea,
button{
	outline: none;
	border: none;
}
button {
	cursor: pointer;
	background-color: transparent;
	padding: 0;
}
textarea{
	resize: vertical;
}
input[type="submit"]{
	cursor: pointer;
}
blockquote{
	margin: 0;
}
/* ===== Reset end ===== */

/* ===== Default classes start ===== */
.text-center{
	text-align: center;
} 
.text-right{
	text-align: right;
}
.text-justify{
	text-align: justify;
}
.bg-black{
	background-color: #111;
}
.bg-gray{
	background-color: #f8f8f8;
}
.m-auto{
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
/* ===== Default classes end */

/* ===== Default component start =====*/

/* ----- Header start ----- */
.header{
	padding: 25px 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header .logo{
	float: left;
}
.header .header-nav{
	float: right;
	font-weight: 400;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
	color: rgba(255, 255, 255, .75);
}
.header .header-nav li{
	float: left;
	line-height: 100%;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
.header .header-nav li + li{
	margin-left: 34px;
}
.slicknav_menu{
	display: none;
}
@media(max-width: 767px){
	.slicknav_menu{
	display: block;
	}
	.header-nav{
		display: none;
	}
	.header{
	    padding: 10px 0;
	}
}
/* ----- Header end ----- */
.small-section{
	padding: 70px 0;
}
@media(max-width: 576px){
	.small-section{
		padding: 50px 0;
	}
}
.default-section{
	padding: 135px 0;
}

@media(max-width: 576px){
	.default-section{
		padding: 80px 0;
	}
}
.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}
.container-fluid{
	padding: 0 15px;
}
.title{
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.section-title{
	font-size: 18px;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
	font-weight: 400;
}

@media(max-width: 576px){
	.title.section-title{
		margin-bottom: 50px;
	}
}
@media(max-width: 479px){
	.title.section-title{
		font-size: 16px;
	}
}
.title.title-white{
	color: #fff;
}
.title.section-title-light{
	font-size: 18px;
	letter-spacing: 0.3em;
	margin-bottom: 20px;
	font-weight: 300;
}
@media(max-width: 479px){
	.title.section-title-light{
		font-size: 16px;
		line-height: 1.7333;
	}
}
.default-text{
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}
blockquote, 
.blockquote{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span,
.blockquote span{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
@media(max-width: 991px){
	blockquote, 
	.blockquote{
		margin-bottom: 30px;
	}
}
@media(max-width: 767px){
	blockquote, 
	.blockquote{
		margin-bottom: 0px;
	}
}
@media(max-width: 479px){
	blockquote, 
    .blockquote{
		font-size: 18px;
	}
}
.btn{
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn[disabled]{
	cursor: not-allowed;
	opacity: .6;
}
.btn.btn-default:hover{
    background-color: #d1d0d0;
}
.btn.btn-default{
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-black{
	background-color: #323232;
	color: #fff;
}
.btn.btn-xs{
	padding: 7px 11px;
	font-size: 11px;
}
.form-control{
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'Open sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
}
.form-control:focus{
	border-color: #111;
}
textarea.form-control{
	min-height: 82px;
	padding-top: 10px;
}
@media(max-width: 767px){
	textarea.form-control{
		margin-top: 10px;
	}
}
.form-control[disabled],
.form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}
.form-control.error{
	border-color: #f57e7e;
}
.form-info{
	font-size: 11px;
	font-weight: 400;
	color: #aaa;
}
.form-info .fa{
    font-size: 12px;
}
.rhomb-icon{
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 22px;
	border-radius: 3px;
	font-size: 12px;
	transform: rotate(45deg);
}
.rhomb-icon.black-icon{
	color: #fff;
	background-color: #000;
}
.rhomb-icon i{
	transform: rotate(-45deg);
}
.rhomb-icon.transparent-icon{
	color: #000;
	background-color: #f8f8f8;
	border: 1px solid #000;
}
.inner-arrow{
	position: absolute;
	left: 50%;
	bottom: 30px;
	cursor: pointer;
	color: #313131;
	background-color: #fff;
	border: 1px solid #8a8a8a;
}
.arrow-up{
	font-size: 50px;
	color: #c6c6c6;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
@media(max-width: 479px){
	.arrow-up{
		right: 20px;
		bottom: 20px;
	}
}

/*===== Default component end ===== */

/* ===== Guide styles start ===== */
.guide-section form .form-control + .form-control{
	margin-bottom: 10px;
}
/* ===== Guide styles end ===== */

/* ===== Custom styles start ===== */
/* ----- Inner start ----- */
.inner{
	background-image: url("../img/inner-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	text-align: center;
	padding-top: 80px;
	position: relative;
}
.inner::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content{
	display: inline-block;
	vertical-align: middle;
}
.inner h1{
	font-weight: 400; 
	font-size: 30px;
	font-family:'Dosis', sans-serif;
	color: rgba(254, 254, 254, .90);
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	text-transform: uppercase;
}
.inner .inner-content span{
	display: block;
	font-weight: 300;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	color: rgba(254, 254, 254, .68);
	margin-top: 95px;
}
@media (max-width: 991px){
	.inner h1{
		letter-spacing: .7em;
		text-indent: .7em;
	}
	.inner .inner-content span{
		margin-top: 50px;
	}
}
@media (max-width: 767px){
    .inner{
		height: auto;
		padding: 150px 0;
	}
}
@media(max-width: 576px){
	.inner h1{	
		font-size: 20px;
	}
	.inner .inner-content span{
		font-size: 15px;
	}
}
@media(max-width: 479px){
	.inner h1{	
		font-size: 16px;
	}
	.inner .inner-content span{
		font-size: 12px;
	}
}

/* ----- Inner end ----- */

/* ----- About studio start ----- */

.team-wrapper{
	margin-top: 100px;
}
.team-item .team-item-info{
	margin-top: 28px;
}
.team-item .team-item-info span{
	display: block;
}
.team-item-name{
	font-weight: 400;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
	color: #777;
	letter-spacing: 0.4em;
	text-transform: uppercase;
}
.team-item-role{
	font-weight: 400;
	font-size: 12px;
	font-family: 'Dosis', sans-serif;
	color: #777;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top: 17px;
}
.team-item .team-item-img{
	position: relative;
}
.team-item .team-item-skills{
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
	padding: 40px;
}
.team-item .team-item-img:hover .team-item-skills{
	opacity: 1;
}
.team-item-content{
	margin-bottom: 30px;
}
.team-item-content .item-title{
	line-height: 2.1111;
	font-size: 18px;
	letter-spacing: .3em;
}
.team-item-content .title{
	margin-bottom: 20px;
}
.team-item-content p{
	font-family: 'Open sans';
	font-weight: 400;
	font-size: 13px;
	line-height: 1.6153;
	color: rgba(255, 255, 255, .5);
}
.skill-item span{
	font-family: 'Open sans';
	font-weight: 400;
	font-size: 11px;
	letter-spacing: .2em;
	line-height: 3.4545;
	color: rgba(255, 255, 255, .9);
	text-transform: uppercase;
	display: block;
}
.progress-wrap{
	width: 100%;
	height: 12px;
	background-color: rgba(255, 255, 255, .15);
}
.progress-wrap .progress{
	background-color: rgba(255, 255, 255, .75);
	height: 12px;
	width: 0%;
	transition: width .5s ease-out;
}
.team-item .team-item-img:hover .branding{
	width: 80%;
}
.team-item .team-item-img:hover .design{
	width: 90%;
}
.team-item .team-item-img:hover .development{
	width: 85%;
}
.team-item .team-item-img:hover .photography{
	width: 82%;
}
.about-studio{
	border-bottom: 1px solid #dbdbdb;
}
@media(max-width: 1200px){
    .team-item .team-item-skills{
		padding: 15px;
	}
	.team-item-content{
		margin-bottom: 10px;
	}
	.team-item-content .title{
		margin-bottom: 5px;
	}
}

@media(max-width: 991px){
	.team-item-name{
		font-size: 12px;
	}
	.team-item-role{
		font-size: 9px;
	}
	.team-item-content .item-title{
		font-size: 12px;
	} 
	.team-item-content p{
		font-size: 11px;
	}
	.progress-wrap{
		height: 8px;
	}
	.progress-wrap .progress{
		height: 8px;
	}
	.skill-item span{
		font-size: 8px;
	}
}
@media (max-width: 767px){
	.about-studio .col:not(:last-child){
		margin-bottom: 30px;
	}
	.about-studio .team-item-img img{
		width: 100%;
	}
	.team-item .team-item-skills{
		padding: 50px;
	}
	.team-item-content .item-title{
		font-size: 20px;
	} 
	.team-item-content p{
		font-size: 20px;
	}
	.progress-wrap{
		height: 15px;
	}
	.progress-wrap .progress{
		height: 15px;
	}
	.skill-item span{
		font-size: 16px;
	}
	.team-item-content{
		margin-bottom: 15px;
	}
	.team-item-content .title{
		margin-bottom: 10px;
	}
}	
@media (max-width: 576px){
	.team-item .team-item-skills{
		padding: 40px;
	}
}
@media (max-width: 479px){
	.team-wrapper{
		margin-top: 30px;
	}
	.team-item .team-item-skills{
		padding: 20px;
	}
	.team-item-content .item-title{
		font-size: 15px;
	} 
	.team-item-content p{
		font-size: 13px;
	}
	.progress-wrap{
		height: 10px;
	}
	.progress-wrap .progress{
		height: 10px;
	}
	.skill-item span{
		font-size: 10px;
	}
}

/* ----- About studio end ----- */

/* ----- Services start ----- */

.tabs-nav{
	overflow: hidden;
	margin-bottom: 75px;
}
#tabs .tabs-nav li{
	float: left;
	width: 20%;
	text-align: center;
	color: rgba(17, 17, 17, .5);
}
#tabs .tabs-nav li span{
    display: block;
}
#tabs .tabs-nav .icon{
	font-size: 48px;
}
#tabs .tabs-nav .tabs-name{
	font-family: 'Dosis';
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top: 34px;
}
#tabs .tabs-nav .ui-state-active{
	color: #111;
}
#tabs .tab-panel{
	clear: both;
}
@media(max-width: 991px){
	#tabs .tabs-nav .tabs-name{
		font-size: 12px;
	}
	#tabs .tabs-nav .icon{
		font-size: 40px;
	}
	.tabs-nav{
		margin-bottom: 45px;
	}
}
@media(max-width: 767px){
	#tabs .tabs-nav li{
		width: 50%;
	}
	#tabs .tabs-nav li:last-child{
		width: 100%;
	}
	#tabs .tabs-nav li + li{
		margin-bottom: 30px;
	}
	#tabs .col:not(:last-child){
		margin-bottom: 30px;
	}

}
/* ----- Services end ----- */

/* ----- Lets talk start ----- */
.lets-talk-content{
	padding: 140px 0;
}
.lets-talk-content p{
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img{
	margin-top: -32px;
}
@media(max-width: 991px){
    .lets-talk-content{
		padding: 70px 0;
		text-align: center;
	}
}
/* ----- Lets talk end ----- */

/* ----- Portfolio start ----- */
.portfolio{
	padding-bottom: 0;
}
.portfolio .portfolio-text{
	max-width: 750px;
	margin: auto;
}
.portfolio-tabs-wrapper{
	margin-top: 85px;	
	overflow: hidden;
}
#tabs-portfolio{
	margin: 0 -4px;
}
#tabs-portfolio .tabs-portfolio-nav{
	text-align: center;
	margin-bottom: 50px;
}
#tabs-portfolio .tabs-portfolio-nav li{
	display: inline-block;
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: .4em;
	text-transform: uppercase;
	color: rgba(17, 17, 17, .5);
}
#tabs-portfolio .tabs-portfolio-nav .ui-state-active{
	color: #111;
}
#tabs-portfolio .tabs-portfolio-nav li + li{
	margin-left: 60px;
}
#tabs-portfolio .portfolio-item{
	float: left;
	width: 33.333%;
	padding: 4px;
}
#tabs-portfolio .portfolio-item img{
	filter: grayscale(100%);
	width: 100%;
}
#tabs-portfolio .portfolio-item img:hover{
	filter: grayscale(0%);
}
@media(max-width: 991px){
	#tabs-portfolio .portfolio-item{
		width: 50%;
	}
}
@media(max-width: 767px){
	#tabs-portfolio .portfolio-item{
		width: 100%;
	}
	#tabs-portfolio .tabs-portfolio-nav li+li{
		margin-left: 0;
	}
	#tabs-portfolio .tabs-portfolio-nav li{
		width: 100%;
	}
	#tabs-portfolio .tabs-portfolio-nav li:not(:last-child){
		margin-bottom: 20px;
	}
}
@media(max-width: 479px){
	.portfolio-tabs-wrapper{
		margin-top: 45px;	
	}
}
/* ----- Portfolio end ----- */

/* ----- Why choose us start ----- */
.why-choose-us .icon span{
	font-size: 48px;
	color: #111;
}
.why-choose-us .advantages{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #111;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin: 30px 0;
}
.why-choose-us .advantages-text{
	font-size: 14px;
	line-height: 1.857;
}
.why-choose-us .row + .row{
	margin-top: 82px;
}

@media(max-width: 991px){
	.why-choose-us .advantages-text{
		text-align: center;
		margin-bottom: 30px;
	}
	.why-choose-us .row + .row{
		margin-top: 0px;
	}
}
/* ----- Why choose us end ----- */

/* ----- Review carousel start ----- */
.reviews-carousel{
	padding: 135px 0;
	overflow: hidden;
}
.slide-content{
	max-width: 680px;
	margin: auto;
}
.slide-content .icon-reviews{
	margin-bottom: 20px;
	font-size: 32px;
	color: #fff;
	margin-top: 3px;
}
.slide-content p{
	font-family: 'Open sans';
	font-weight: 300;
	font-size: 18px;
	line-height: 1.666;
	color: rgba(255, 255, 255, .75);
	margin-bottom: 25px;
}
.slide-content .review-author{
	font-family: 'Open sans';
	font-weight: 300;
	font-size: 11px;
	line-height: 3.454;
	letter-spacing: .2em;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
}
.slick-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;
}
.slick-dots li{
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color:rgba(255, 255, 255, .8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li + li{
	margin-left: 5px;
}
.slick-dots li.slick-active{
	background-color: #000;
	border-color: rgba(255, 255, 255, .8);
}
.slick-arrow{
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 1;
	width: 90px;
}
.slick-arrow.slick-prev{
	left: 0;
}
.slick-arrow.slick-next{
	right: 0;
}
.slick-arrow.slick-next .carousel-button{
	right: 0;
	margin-right: -31px;
}
.slick-dots li button{
	display: none;
}
.slick-arrow .carousel-button{
	width: 63px;
	height: 63px;
	background-color: #fff;
	text-align: center;
	line-height: 63px;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-left: -32px;
	margin-top: -31px;
}
.slick-arrow .carousel-button .fa{
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa{
	bottom: 14px;
	right: 17px;
}
.slick-arrow.slick-next .carousel-button .fa{
	top: 16px;
	left: 17px;
}
@media(max-width: 767px){
	.reviews-carousel{
		padding: 80px 0;
	}
	.slide-content{
		max-width: 400px;
	}
}
@media(max-width: 576px){
	.reviews-carousel{
		padding: 50px 0;
	}
	.slick-arrow .carousel-button{
		width: 43px;
		height: 43px;
		line-height: 43px;
	}	
	.slick-arrow.slick-prev .carousel-button .fa{
		bottom: 4px;
		right: 7px;
	}
	.slick-arrow.slick-next .carousel-button .fa{
		top: 5px;
		left: 6px;
	}
}
@media(max-width: 479px){
	.slide-content{
		max-width: 270px;
	}
	.slide-content .icon-reviews{
		font-size: 20px;
	}
	.slide-content p{
		font-size: 15px;
	}
}
/* ----- Review carousel end ----- */

/* ----- Latest news start ----- */
.latest-news{
	overflow: hidden;
}
.latest-news .all-news a{
	font-family: 'Dosis', sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: #999;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	float: right;
}
.latest-news .news-block-img{
    filter: grayscale(100%);
}
.latest-news .news-block-img:hover{
	filter: grayscale(0%);
}
.latest-news .news-block-title{
	font-size: 15px;
	font-weight: 400;
	color: #777;
	letter-spacing: 0.2em;
	margin-top: 29px;
}
.news-block .news-block-author{
	font-family:'Dosis', sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: #999;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	margin-top: 17px;
}
.latest-news .news-block-text{
	margin: 27px 0;
}

@media(max-width: 991px){
	.latest-news .news-block-img img{
		width: 100%;
	}
	.latest-news .col .news-block{
		border-bottom: 2px solid #000;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.latest-news .col:last-child .news-block{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}
@media(max-width: 479px){
	.latest-news .all-news{
		text-align: center;
	}
	.latest-news .all-news a{
		float: none;
		display: block;
		margin-top: 20px;
	}
}
/* ----- Latest news end ----- */

/* ----- Subscribe start ----- */
.subscribe form .form-control{
	max-width: 290px;
}
.subscribe .form-info{
	margin-top: 17px;
}
.subscribe .form-info i{
	margin-right: 3px;
}
@media(max-width: 479px){
	.subscribe button{
		width: 100%;
		margin-top: 20px;
	}
	.subscribe form .form-control{
		max-width: none;
	}
}
/* ----- Subscribe end ----- */

/* ----- Contacts start ----- */
.contact-items-wrapper{
	margin-bottom: 80px;
}
.contact-item .contact-item-content{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.contact-item .contact-item-content span{
	display: block;
}
.contact-item-content .contact-title{
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	color: #777;
	margin-bottom: 5px;
}
.contact-item-content .contact-data{
	font-family: 'Open sans';
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6;
	color: #444;
}
.form-row{
	margin: 0 -5px;
	overflow: hidden;
}
.contact-form .form-col{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.contact-form .form-control + .form-control{
	margin-top: 10px;
}
.contact-form .form-info{
	line-height: 36px;
}
.contact-form .form-info i{
    margin-right: 3px;
}
.contact-form .form-submit{
	margin-top: 20px;
	overflow: hidden;
}
@media(max-width: 767px){
	.contact-items-wrapper{
		text-align: center;
	}
	.contact-item .contact-item-content{
		display: block;
		margin-left: 0;	
		margin-top: 20px; 
	}
	.contact-items-wrapper .col .contact-item{
		margin-bottom: 40px;
	}
	.contact-items-wrapper .col:last-child .contact-item{
		margin-bottom: 0;
	}
	.contact-form .form-col{
		width: 100%;
	}
}
@media(max-width: 479px){
	.contacts .form-submit button{
		width: 100%;
		margin-top: 20px;
	}
	.contact-items-wrapper{
		margin-bottom: 45px;
	}	
	.contact-form .form-info{
		line-height: 1;
	}	
	.contact-form .form-submit{
		margin-top: 10px;
	}
}

/* ----- Contacts end ----- */

/* ----- Map start ----- */

#map{
	height: 410px;
}
.map-container{
	position: relative;
}
.on-map-block{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	top: 0;
	left: 0;
	text-align: center;
}
.on-map-block::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.on-map-block-content{
	display: inline-block;
	vertical-align: middle;
}
.map-container:hover .on-map-block{
	display: none;
}
.on-map-block-text{
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .3em;
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;
	margin-top: 25px;	
}
.on-map-block-content .map-icon{
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	width: 31px;
	height: 31px;
	line-height: 28px;
	font-size: 16px;
	border-radius: 4px;
}
@media(max-width: 479px){
	#map{
		height: 250px;
	}
}

/* ----- Map end ----- */

/* ===== Custom styles end ===== */

/* ===== Footer start ===== */

.footer{
	padding-top: 140px;
	padding-bottom: 60px;
}
.footer .footer-nav{
	margin-top: 25px;
	margin-bottom: 105px;
}
.footer .footer-nav li + li{
	margin-left: 13px;
}
.footer .copyright span{
	display: block;
}
.copyright .brand-name{
	font-family: 'Dosis';
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #111;
}
.copyright .last-word{
	font-family: 'Open sans';
	font-weight: 400;
	font-size: 11px;
	line-height: 2.1818;
	color: #999;
}
@media(max-width: 576px){
	.footer{
		padding-top: 80px; 
		padding-bottom: 40px;
	}
	.footer .footer-nav{
		margin-bottom: 55px;
	}
}
/* ===== Footer end =====*/
 
/* Media */
/* Desktop, notebook >1300 */
/* Notebook, планшеты в альбомной ориентации 992px-1200px */
@media(max-width: 1200px){
	/* Styles for <1200px */
}

/* Планшеты >7 в портретной ориентации и планшеты 7 в альбомной ориентации 768-991*/
@media(max-width: 991px){

}

/* Планшеты 7 дюймов в портретной ориентации, планшеты и мобильные устройства <7 в альбомной ориентации 577-767 */
@media(max-width: 767px){

}

/* Все мобильные телефоны в портретной и альбомной ориентации */
@media(max-width: 576px){

}

/* Только если сильно нужно для мобильных телефонов 320 */
@media(max-width: 479px){

}